:root {
    --maincolor: #00c2ff;
    --backgroundcolor: linear-gradient(0deg, #0043a8 0%, #00114b 100%);
    --overlaycolor: linear-gradient(270deg, #000000 0%, #d9d9d9 50.52%, #000000 100%);
    --lightheaderitemhovercolor: #050728;
    --hover: #ff9900;
    --pricecolor: #4d4444;
    --backgroundblur: #4282ff;
    --banner-height: 65%;
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.1875em){
    /* header respon */
    .header {
        padding-inline: 20px !important;
    }
    .logo {
        font-size: 22px !important;
    }
    /* respon nav */
    .respon-nav {
        padding: 30px 35px !important;
    }
    .respon-bar-icon {
        gap: 12px !important;
    }
    .respon-bar-icon .open-btn {
        padding: 0;
    }
    /* product respon */
    .product-wrapper {
        gap: 10px;
    }
    .product {
        width: 230px !important;
        height: 320px !important;
        flex-basis: 220px !important;
    }
    .product .product__detail {
        margin-top: 95% !important;
    }
    /* slider respon */
    .slider-container {
        height: 350px;
    }
    .wait-list__content {
        flex-grow: 1;
        flex-direction: column !important;
    }
    .wait-list__content .content__top {
        padding: 0;
        width: 100% !important;
    }
    .wait-list__content .content__top .content__detail {
        width: 100%;
    }
    /* section respon */
    .section{
        padding: 60px 20px !important;
    }
    /* pre-built respon  */
    .pre-built-product .product__banner .product__overlay .overlay-btn{
        min-width: 250px;
        text-align: center;
    }
    /* wait list respon  */
    .wait-list-form {
        margin-top: 0 !important;
    }
    .wait-list-detail {
        width: 100% !important;
    }
    .wait-list__content {
        padding: 0;
    }
    /* footer respon  */
    .footer {
        padding: 60px 20px;
    }
    .footer .logo a{
        display:flex !important;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }
    .footer .logo {
        align-self: center !important;
    }
    .footer__top {
        /* flex-wrap: wrap !important; */
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }
    .follow-us-content {
        text-align: left;
    }
    .follow-us {
        width: 100%;
    }
    /* product page respon */
    /* banner overlay */
    .banner__overlay .overlay__title {
        font-size: 16px !important;
    }
    .banner__overlay .overlay__subtitle {
        font-size: 8px !important;
    }
    /* product nav */
    .product__nav ul {
        gap: 12px;
    }
    .product__nav .nav__link {
        font-size: 8px !important;
        font-weight: 500;
    }
    /*product title*/
    .product__section .section__title {
        font-size: 22px;
        text-align: center;
    }
    /* product detail page respon */
    .detail__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detail__gallery {
        display: flex;
        flex-direction: row-reverse;
        width: 100% !important;
        gap: 20px;
    }
    .gallery__main {
        flex-grow: 1;
        margin: 0;
    }
    .detail__gallery .gallery__item__wrapper {
        flex-direction: column !important;
        width: 20%;
    }
    .gallery__item {
        width: 100%;
        aspect-ratio: 1;
    }
    .description__item__container:not(.description__item__container:first-child) {
        flex-direction: column;
    }
    .description__item__container {
        padding-inline: 20px;
    }
    .rating__box ,
    .rating__by__stars {
        flex-wrap: wrap;
    }
    /* cart respon */
    .cart__product__name {
        font-size: 14px !important;
    }
    .product__qty__input button {
        width: 40px !important;
        height: 40px;
    }
    .cart__product__banner {
        width: 90px !important;
        height: 120px !important;
    }
    /* about us respon  */
    .about-us__content__wrapper > * {
        flex-direction: column !important;
    }
    .about-us__content {
        width: 100% !important;
        padding: 0 !important;
    }
    /* form respon */
}
@media only screen and (min-width: 18.75em) and (max-width: 31.875em) {
    .product {
        width: 160px !important;
        height: 320px !important;
        flex-basis: 260px !important;
    }
    .product-wrapper {
        gap: 20px !important;
    }
    .product .product__detail {
        gap: 0 !important;
        margin-top: 220px !important;
    }
    .product__detail .product__name {
        font-size: 12px !important;
        height: 45px;
    }
    .product__detail .product__price {
        font-size: 10px !important;
    }
    .respon-nav {
        left: 0 !important;
    }
    .respon-nav .nav__item {
        text-align: center !important;
    }
    .respon-nav .nav__link {
        font-size: 18px;
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    /* slider respon */
    .slider-container {
        height: 500px;
    }
    /* product detail section - product detail page  */
    .product-detail-section {
        padding: 60px;
    }
    
}
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em){
    /* header respon */
    .header-nav {
        display: none;
    }
    .respon-bar-icon {
        display: flex !important;
    }
    /* product section respon  */
    .section-product{
        flex-wrap: wrap;
    }
    .product__banner {
        flex-grow: 1;
    }
    .alt__spec__item {
        display: none;
    }
    /* wait list respon  */
    .wait-list-detail {
        flex-wrap: wrap;
    }
    .wait-list__content {
        flex-grow: 1;
        flex-direction: row;
    }
    .wait-list__content .content__top {
        width: 50%;
    }
    .wait-list__content .wait-list-form {
        flex-grow: 1;
        margin-top: 45px;
    }
    /* product page - product nav respon */
    .product__nav .nav__link {
        font-size: 12px;
    }
    /* product detail page respon */
    .product-detail {
        align-self: flex-start;
    }
    .customer__review__item {
        border-bottom: 1px solid gray;
        padding: 20px 0;
        flex-direction: column;
        gap: 0;
    }
    .customer__review__content {
        border:none;
    }
    .description__content__wrapper {
        padding-inline: 20px !important;
    }
    /* cart respon  */
    .cart__summary {
        display: none;
    }
    .cart__product > .flex {
        flex-direction: column !important;
    }
    .cart__nav{
        display: none !important;
    }
    .cart__nav__respon {
        display: block !important;
    }
    .cart__product__total {
        display: none;
    }
    .cart__product__qty {
        margin: 0 !important;
    }
    .cart__body {
        grid-template-columns: auto !important;
    }
    .cart__product__detail {
        max-width: none !important;
    }
    .summary__respon {
        opacity: 1 !important;
        visibility: visible !important;
    }
    /* cart nav respon */
    .payment__nav > .nav__item{
        display: none !important;
    }
    .toggle-dropdown {
        display: block !important;
    }
}
/* PC: width >= 1024px */
@media only screen and (min-width: 64em){
    .description__content__wrapper {
        padding-inline: 60px;
    }
}